<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
   
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .content {
            padding: 20px;
        }
        .logo{
            width: 100px;
            height: auto;
        }
        .marco{
            border: 1px solid #fff;
        }
    </style>
</head>
<body>
    {% load static %}
    
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="{% static '/images/deslizza2.jpeg' %}" alt="" class="logo">
                
            </div>
            <div class="col-6">
                <h1 class="">Cotización N:S-{{cotizacion_id}}</h1>
                <h1 class="">Cliente: {{cliente}}</h1>
            </div>
        </div>
        <ol>
        {% for linea in detalles %}
            <div class="flex justify-between items-center border-b border-[#5a4e3c] pb-2 mb-2">
                <li>
                    <span class="font-bold text-[#5a4e3c]">{{linea.roller.nombre}}  {{linea.roller.diametro.descripcion}} 
                    </span style="font-size:9px">                
                    <span>
                    <span style="font-size:9px" class="dec_target">
                         ({{ linea.ancho }} 
                    </span >                
                    <span style="font-size:9px">
                        x
                    </span>
                    <span style="font-size:9px" class="dec_target">
                        {{linea.alto}})
                    </span>            
                    <span class="text-[#5a4e3c]">x {{ linea.cantidad}}</span>
                    <span class="font-bold text-[#5a4e3c]">U$D {{linea.total|floatformat:2}}</span>

                </li>
            </div>
            <div class="text-[#5a4e3c]">
                {% if linea.cenefa.nombre  %}
                <p>
                    Cenefa: {{linea.cenefa.nombre}}
                </p>
                {% endif %}
                {% if linea.gateway.nombre  %}
                <p>Gateway: {{linea.gateway.nombre}}
                </p>
                {% endif %}
                {% if linea.motor.nombre  %}
                <p>Motor eléct: {{linea.motor.nombre}}  
                </p>
                {% endif %}
                <p>Instalación: Roller {% if linea.cenefa.nombre  %} - Cenefa {% endif %} 
                    {% if linea.motor.nombre  %} - Motor {% endif %}
                </p>
                <p>C. Remoto: {% if linea.control.nombre  %}
                    {{linea.control.nombre}} {% else %}N/A{% endif %}</p>
            </div>
            {% endfor %}
        </ol>
            <div class="flex justify-between items-center border-t border-[#5a4e3c] pt-2 mt-4">
                <span class="font-bold text-[#5a4e3c]">Sin IGV</span>
                <span class="font-bold text-[#5a4e3c]">U$D {{resumen.total}}</span>
            </div>
            <div class="flex justify-between items-center">
                <span class="font-bold text-[#5a4e3c]">Precio Total</span>
                <span class="font-bold text-[#5a4e3c]">U$D {{resumen_total_igv}}</span>
            </div>
            <div class="bg-[#7a6a5e] p-4 mt-4 rounded-lg marco" >
                <h2 class="font-bold text-white">Términos y condiciones</h2>
                <ul class="text-white text-sm mt-2 list-disc list-inside pl-4">
                    <li>Precios expresados en dólares, incluyen el ire metrado, impuestos de ley (IGV) e instalación, vigencia de oferta para Lima metropolitana es de 15 días.</li>
                    <li>Forma de pago: 70% adelanto, saldo contra entrega.</li>
                    <li>Plazo de entrega: 5-6 días útiles (Sujeto a disponibilidad de stock), desde el pago del adelanto.</li>
                    <li>En el presupuesto motorizado, el presente documento NO INCLUYE la generación del punto eléctrico y los trabajos asociados al mismo (alimentación eléctrica, pase de pared, resane y pintado de la misma).</li>
                    <li>El color de la cenefa será en negro y blanco. NO SE INCLUYE perfil de aluminio para la cenefa, en caso requiera, debe solicitar la inversión adicional.</li>
                    <li>Garantía del producto, 5 años.</li>
                </ul>
            </div>
        
        
    </div>
   
   
</body>
</html>
