<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }
        .hover-animation:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
        }
        .d-none{
            display: none;
        }
    </style>
</head>
<body class="bg-[#D7B391] flex items-center justify-center min-h-screen">
    <div class="w-full max-w-xs">
        <div class="text-center mb-6">
            <h1 class="text-2xl font-bold text-[#4a4a4a]">Cotización N</h1>
            <p class="text-xl font-semibold text-[#4a4a4a]">S-{{resumen.cotizacion_id}}</p>
            <p class="d-none">Cantidad de Productos: {{num_items}}</p>
        </div>

        <div class="bg-[#D7B391] p-6 rounded-lg shadow-md">
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Item</label>
                    <select class="w-full p-2 border border-gray-300 rounded" name="roller_name">
                        <option>Seleccionar</option>
                        {% for roller in rollers %}
                        <option>{{ roller }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Q (diámetro)</label>
                    <select class="w-full p-2 border border-gray-300 rounded" name="diametro_id">
                        <option>Seleccionar</option>
                        {% for diametro in diametros %}
                        <option value="{{ diametro.id }}" >{{ diametro.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4 flex space-x-2">
                    <div class="w-1/2">
                        <label class="block text-[#4a4a4a] mb-2">Alto cm</label>
                        <input type="text" class="w-full p-2 border border-gray-300 rounded" name="alto">
                    </div>
                    <div class="w-1/2">
                        <label class="block text-[#4a4a4a] mb-2">Ancho cm</label>
                        <input type="text" class="w-full p-2 border border-gray-300 rounded" name="ancho">
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Motor eléct</label>
                    <select class="w-full p-2 border border-gray-300 rounded" id="motores" name="motor_id">
                        <option value="">No</option>
                        {% for motor in motores %}
                        <option value="{{ motor.id }}" value2="{{ motor.precio }}">{{ motor.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">C. Remoto</label>
                    <select class="w-full p-2 border border-gray-300 rounded"  id="controles" name="control_id">
                        <option value="">No</option>
                        {% for control in controles %}
                        <option value="{{ control.id }}" value2="{{ control.precio }}">{{ control.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Gateway</label>
                    <select class="w-full p-2 border border-gray-300 rounded"  id="gateways" name="gateway_id">
                        <option value="">No</option>
                        {% for gatewa in gateways %}
                        <option value="{{ gatewa.id }}" value2="{{ gatewa.precio }}">{{ gatewa.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Cenefa</label>
                    <select class="w-full p-2 border border-gray-300 rounded"  id="cenefas" name="cenefa_id">
                        <option value="" value2="0">No</option>
                        {% for cenefa in cenefas %}
                        <option value="{{ cenefa.id }}" value2="{{ cenefa.precio }}">{{ cenefa.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Inst. Roller</label>
                    <input type="text" class="w-full p-2 border border-gray-300 rounded" value="(auto)" readonly id="inst_roller" name="costo_instalacion_roller">
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Inst. Cenefa</label>
                    <input type="text" class="w-full p-2 border border-gray-300 rounded" value="(auto)" readonly id="inst_cenefa" name="costo_instalacion_cenefa">
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Inst. Motor</label>
                    <input type="text" class="w-full p-2 border border-gray-300 rounded" value="0" readonly id="inst_motor" name="costo_instalacion_motor">
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Cantidad</label>
                    <input type="text" class="p-2 border border-gray-300 rounded" required value="1" id="cantidad" name="cantidad">
                </div>
                <div class="flex justify-between">
                    <button class="bg-[#4a4a4a] text-white py-2 px-4 rounded-full hover-animation">Cancelar</button>
                    <button class="bg-[#4a4a4a] text-white py-2 px-4 rounded-full hover-animation">Guardar y añadir producto</button>
                </div>
            </form>
        </div>
        <div class="text-center mt-6 mb-5"> 
            <a href="/cotizacion_export/{{resumen.id}}">
                <button class="bg-[#4a4a4a] text-white py-2 px-4 rounded-full hover-animation">Emitir</button>
            </a>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#inst_roller').val($('#cantidad').val()*7.72);
            $('#inst_cenefa').val(0);

            $('#motores').change(function() {
                if( $('#motores').val() != ""){
                    var valor = 22.45;
                    $('#inst_motor').val(valor);
                    console.log(valor)
                }
                else{
                    $('#inst_motor').val(0);
                }
            });

            $('#cenefas').change(function() {
                
                    var valor = $(this).find('option:selected').attr('value2');
                    var cantidad = $('#cantidad').val();
                    $('#inst_cenefa').val(valor*cantidad);
                    console.log(valor)
                
            });

            $('#cantidad').change(function() {
                var nuevoValor = $(this).val();
                // Ejemplo de actualización del input inst_roller
                $('#inst_roller').val(nuevoValor*7.72);
                var cenefa = $('#cenefas').find('option:selected').attr('value2');
                
                $('#inst_cenefa').val(cenefa*nuevoValor);
            });
            




        });
    </script>
</body>
</html>