<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }
        .hover-animation:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
        }
        .d-none{
            display: none;
        }
        .subindice{
            font-size: 0.6em;
        }
    </style>
</head>
<body class="bg-[#D7B391] flex items-center justify-center min-h-screen">
    <div class="w-full max-w-xs">
        <div class="text-center mb-6">
            <h1 class="text-2xl font-bold text-[#4a4a4a]">Cotización N</h1>
            <p class="text-xl font-semibold text-[#4a4a4a]">S-{{resumen.cotizacion_id}}</p>
            <p class="d-none">Cantidad de Productos: {{num_items}}</p>
        </div>

        <div class="bg-[#D7B391] p-6 rounded-lg shadow-md">
            <form method="post" id="add_producto">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Item</label>
                    <select class="w-full p-2 border border-gray-300 rounded" id="roller_name" name="roller_name" required>
                        <option value="0">Seleccionar</option>
                        {% for roller in rollers %}
                        <option>{{ roller }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Q (diámetro)</label>
                    <select class="w-full p-2 border border-gray-300 rounded" id="diametro_id" name="diametro_id">
                        <option value="0">Seleccionar</option>
                    </select>
                </div>
                <div class="mb-4 flex space-x-2">
                    <div class="w-1/2">
                        <label class="block text-[#4a4a4a] mb-2">Alto cm <span id="max_alto" class="subindice"></span> </label>
                        <input type="text" class="w-full p-2 border border-gray-300 rounded" id="alto" name="alto">
                    </div>
                    <div class="w-1/2">
                        <label class="block text-[#4a4a4a] mb-2">Ancho cm <span id="max_ancho" class="subindice"></span></label>
                        <input type="text" class="w-full p-2 border border-gray-300 rounded" id="ancho" name="ancho">
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Motor eléct</label>
                    <select class="w-full p-2 border border-gray-300 rounded" id="motores" name="motor_id">
                        <option value="">No</option>
                        {% for motor in motores %}
                        <option value="{{ motor.id }}" value2="{{ motor.precio }}">{{ motor.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">C. Remoto</label>
                    <select class="w-full p-2 border border-gray-300 rounded"  id="controles" name="control_id">
                        <option value="">No</option>
                        {% for control in controles %}
                        <option value="{{ control.id }}" value2="{{ control.precio }}">{{ control.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Gateway</label>
                    <select class="w-full p-2 border border-gray-300 rounded"  id="gateways" name="gateway_id">
                        <option value="">No</option>
                        {% for gatewa in gateways %}
                        <option value="{{ gatewa.id }}" value2="{{ gatewa.precio }}">{{ gatewa.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" name="cenefa_id" value="" id="cenefa_id">
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Cenefa</label>
                    <select class="w-full p-2 border border-gray-300 rounded"  id="cenefas" name="cenefas">
                        <option value="" value2="0">No</option>
                        {% for cenefa in cenefas %}
                        <option value="{{ cenefa.id }}" value2="{{ cenefa.precio }}">{{ cenefa.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Inst. Roller</label>
                    <input type="text" class="w-full p-2 border border-gray-300 rounded" value="(auto)" readonly id="inst_roller" name="costo_instalacion_roller">
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Inst. Cenefa</label>
                    <input type="text" class="w-full p-2 border border-gray-300 rounded" value="(auto)" readonly id="inst_cenefa" name="costo_instalacion_cenefa">
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Inst. Motor</label>
                    <input type="text" class="w-full p-2 border border-gray-300 rounded" value="0" readonly id="inst_motor" name="costo_instalacion_motor">
                </div>
                <div class="mb-4">
                    <label class="block text-[#4a4a4a] mb-2">Cantidad</label>
                    <input type="text" class="p-2 border border-gray-300 rounded" required value="1" id="cantidad" name="cantidad">
                </div>
                <div class="flex justify-between">
                    <a href="{% url 'panel_usuario' %}" >
                        <button class="bg-[#4a4a4a] text-white py-2 px-4 rounded-full hover-animation" id="btn_cancelar">Cancelar</button>
                    </a>
                    <button class="bg-[#4a4a4a] text-white py-2 px-4 rounded-full hover-animation" type="submit">Guardar y añadir producto</button>
                </div>
                <input type="hidden" name="roller_id" id="roller_id" value="">
            </form>
        </div>
        <div class="text-center mt-6 mb-5"> 
            <p>Cantidad de items: {{num_items}}
            </p>
            {% if num_items != 0 %}
            <a href="/cotizacion_export/{{resumen.id}}">
            {% endif %}
                <button class="bg-[#4a4a4a] text-white py-2 px-4 rounded-full hover-animation" {% if num_items == 0 %} onclick="alert('debe agregar al menos 1 producto')" {% endif %} >Emitir</button>
                {% if num_items != 0 %}
            </a>
                {% endif %}

                
        </div>
        <div class="text-center mt-6 mb-5">
            <a href="/logout">Cerrar Sesión</a>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#inst_roller').val($('#cantidad').val()*7.72);
            $('#inst_cenefa').val(0);

            $('#motores').change(function() {
                if( $('#motores').val() != ""){
                    var valor = 22.45;
                    $('#inst_motor').val(valor);
                }
                else{
                    $('#inst_motor').val(0);
                }
            });

            $('#cenefas').change(function() {                
                var valor = $(this).find('option:selected').attr('value2');
                var cantidad = $('#cantidad').val();
                $('#cenefa_id').val($(this).find('option:selected').attr('value'));
                $('#inst_cenefa').val(valor*cantidad);
            });

            $('#cantidad').change(function() {
                var nuevoValor = $(this).val();
                // Ejemplo de actualización del input inst_roller
                $('#inst_roller').val(nuevoValor*7.72);
                var cenefa = $('#cenefas').find('option:selected').attr('value2');                
                $('#inst_cenefa').val(cenefa*nuevoValor);
            });

            $('#btn_cancelar').on('click', function(event) {
                event.preventDefault(); // Prevenir cualquier comportamiento predeterminado
                window.location.href = "{% url 'panel_usuario' %}"; // Redirigir a la URL deseada
            });


            $('#add_producto').on('submit', function(event) {
                // Evita que el formulario se envíe por defecto
                event.preventDefault();
                
                // Variable para controlar si el formulario es válido
                var isValid = true;
                
                // Selecciona los campos a validar
                var select1 = $('#roller_name');
                var select2= $('#diametro_id');
                var input1 = $('#alto');
                var input2 = $('#ancho');
                var ancho = parseFloat($('#ancho').val());
                var alto = parseFloat($('#alto').val());
                var maxAncho = parseFloat($('#ancho').attr('max'));
                var maxAlto = parseFloat($('#alto').attr('max'));

                if (ancho > maxAncho) {
                    alert('El ancho debe ser menor o igual al máximo permitido.');
                    isValid = false;
                }

                if (alto > maxAlto) {
                    alert('El alto debe ser menor o igual al máximo permitido.');
                    isValid = false;
                }
                
                // Valida el select
                if (select1.val() == "0") {
                    isValid = false;
                    alert('Por favor, seleccione un roller.');
                    select1.focus();
                    return false; // Detiene la ejecución si el campo no es válido
                }
                if (select2.val() == "0") {
                    isValid = false;
                    alert('Por favor, seleccione el diamtro.');
                    select2.focus();
                    return false; // Detiene la ejecución si el campo no es válido
                }
                
                // Valida el input
                if (input1.val().trim() === "") {
                    isValid = false;
                    alert('Por favor, ingrese un valor en el alto.');
                    input1.focus();
                    return false; // Detiene la ejecución si el campo no es válido
                }
                if (input2.val().trim() === "") {
                    isValid = false;
                    alert('Por favor, ingrese un valor en el ancho.');
                    input2.focus();
                    return false; // Detiene la ejecución si el campo no es válido
                }
                // Si todos los campos son válidos, envía el formulario
                if (isValid) {
                    this.submit();
                }
            });

            function updateMaxDimensions(rollerId) {
            $.ajax({
                url: '{% url "get_max_dimensions" %}',
                data: {
                    'roller_id': rollerId
                },
                success: function(data) {
                    console.log(data);
                    if (data.max_ancho && data.max_alto) {
                        $('#ancho').attr('max', data.max_ancho);
                        $('#alto').attr('max', data.max_alto);
                        $('#max_alto').text("(Max:"+parseInt(data.max_alto)+")");
                        $('#max_ancho').text("(Max:"+parseInt(data.max_ancho)+")");
                        
                    }
                }
            });
        }

        $('#roller_name').change(function() {
            var rollerName = $(this).val();
            if (rollerName && rollerName !== "0") {
                $.ajax({
                    url: '{% url "get_diametros" %}',
                    data: {
                        'roller_name': rollerName
                    },
                    success: function(data) {
                        $('#diametro_id').empty();
                        $('#diametro_id').append('<option value="">Seleccione un diámetro</option>');
                        $.each(data, function(index, item) {
                            $('#diametro_id').append('<option value="' + item.id + '">' + item.descripcion + '</option>');
                        });
                    }
                });
            } else {
                $('#diametro_id').empty();
                $('#diametro_id').append('<option value="">Seleccione un diámetro</option>');
                $('#ancho').removeAttr('max');
                $('#alto').removeAttr('max');
                $('#roller_id').val('');
            }
            
            if (rollerName == "Twinline"){
                $('#cenefas').val('2');
                $('#cenefas').prop('disabled', true);                
            }
            else{
                $('#cenefas').prop('disabled', false);
            }
            var valor = $('#cenefas').find('option:selected').attr('value2');
            var cantidad = $('#cantidad').val();
            $('#inst_cenefa').val(valor*cantidad);
            $('#cenefa_id').val($('#cenefas').find('option:selected').val());
            console.log($('#cenefas').val())
            console.log($('#cenefa_id').val())

        });

        $('#diametro_id').change(function() {
            var rollerName = $('#roller_name').val();
            var diametroId = $(this).val();
            if (rollerName && rollerName !== "0" && diametroId) {
                $.ajax({
                    url: '{% url "get_roller_id" %}',
                    data: {
                        'roller_name': rollerName,
                        'diametro_id': diametroId
                    },
                    success: function(data) {
                        //console.log(data)
                        //console.log("data[0].id:"+data[0].id)
                        if (data[0].id) {
                            $('#roller_id').val(data[0].id);
                            updateMaxDimensions(data[0].id);
                        }
                    }
                });
            } else {
                $('#ancho').removeAttr('max');
                $('#alto').removeAttr('max');
                $('#roller_id').val('');
            }
        });


    });
    </script>
</body>
</html>